<div *ngIf="product" class="container">
    <div class="row">
        <div class="col-6">
           <h1> {{ product.name }} </h1>
           <h1> {{ product.price | currency }} </h1>
           <h5> {{ product.description }} </h5> 
   
        </div>
      
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-light" (click)="ShoppingCartService.addProduct(product.name)">add to cart</button>
        </div>
    </div>

    <app-product-variant-detail *ngIf="productVariantId" [productVariantId]=productVariantId></app-product-variant-detail>
 
</div>
